<div class="row" >
  <div class="col-md-9">
  </div>
  <div class="col-md-3">
    <p><a class="link pull-right" ng-click="logout()">Logout</a></p>
  </div>
</div>
<div class="row" >
  <div class="col-md-3">
  </div>
  <div class="col-md-6">
    <h3 class="text-center">People List</h3>
  </div>
  <div class="col-md-3">
  </div>
</div>
<div class="row">
  <div class="col-md-2">
  </div>
  <div class="col-md-8">
    <h5 class="people-records">{{people.length}} people registered.</h5>
    <div class="table-responsive table-striped">
      <table class="table">
        <thead>
          <tr>
            <th>
              Name
            </th>
            <th>
              Email
            </th>
            <th>
              Age
            </th>
            <th>
              Options
            </th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="person in people | orderBy:'last_name'">
            <td>
              <div class="link" ng-click="showPerson(person.id)">
                {{person.first_name}} {{person.last_name}}
             </div>
            </td>
            <td>
              {{person.email}}
            </td>
            <td>
              {{calculateAge(person.birthdate)}} Years
            </td>
            <td>
              <button class="glyphicon glyphicon-option-vertical"
                            type="button"
                            uib-popover-template="personPopover.templateUrl"
                            popover-trigger="outsideClick"
                            popover-placement="right">
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <button type="button" class="btn btn-primary" ng-click="addPerson()">Add Person</button>
    <script type="text/ng-template" id="personPopoverTemplate.html">
       <div class="row">
        <div class="glyphicon glyphicon-trash popover-menu"
             ng-click="destroyPerson(person)">
          Delete
        </div>
      </div>
    </script>
  </div>
  <div class="col-md-2">
  </div>
</div>
